body {
  background: #F4F4F4;
}
.tabSet {
  width: 95%;
  margin: 0 auto;
  color: #808080;
  font-size: 14px;
  line-height: 1.5;
  position: relative;
}
.tabSet .tabs {
  margin: 0;
  padding: 0;
  width: 100px;
  position: absolute;
  left: 0;
  top: 0;
  list-style-type: none;
  text-align: left;
}
.tabSet .tab {
  padding: 0 0 10px;
  margin: 0;
  font-size: 15px;
  letter-spacing: 1px;
}
.tabSet .tab a {
  display: block;
  color: #ccc;
  text-decoration: none;
  background-color: #eaeaea;
  padding: 10px 0 10px 30px;
  border-radius: 6px 0 0 6px;
  font-family: 'Josefin Slab', serif;
  font-size: 120%;
}
.tabSet .tab a:hover {
  text-decoration: underline;
}

/* ハイライトされた時 */

.tabSet .tabs a.on {
  color: #808080;
  background-color: #fff;
  cursor: default;
}
.tabSet .tabs a.on:hover {
  text-decoration: none;
}

.tabSet .panels {
  margin: 0 0 0 100px;
  background: #fff;
}
.tabSet .panel {
  min-height: 360px;
}
.tabSet .panel p {
  font-size: 80%;
}
